table {
    border-collapse: collapse; 
    margin: 20px auto; 
}
td {
    width: 40px; 
    height: 40px; 
    border: 1px solid black; 
    text-align: center; 
}
body{
    background-color: rgb(255, 106, 0); 
    text-align: center; 
} 
h2, button{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
td:nth-child(5){
    border-right: 4px solid black;
}

/* Righe 2, 4, 6, 8 tutte */
tr:nth-child(0) td,
tr:nth-child(3) td,
tr:nth-child(6) td {
    border-bottom: 4px solid black;
}
.nestratto{
    background-color: greenyellow;
}